services:
  streamlit-app:
    build:
      context: .
      dockerfile: apps/chatbot_ui/Dockerfile
    ports:
      - 8501:8501
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./apps/chatbot_ui/src:/app/apps/chatbot_ui/src
  
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - QDRANT_URL=http://qdrant:6333
    restart: unless-stopped
    volumes:
      - ./apps/api/src:/app/apps/api/src
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant
    ports:
      - 6333:6333
      - 6334:6334 # grpc
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    environment:
      - QDRANT__STORAGE__PATH=/qdrant/storage
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: langgraph_db
      POSTGRES_USER: langgraph_user
      POSTGRES_PASSWORD: langgraph_password
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: unless-stopped
    volumes:
      - ./postgres_data:/var/lib/postgresql/data